.active {
    display: inline-flex;
    align-items: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    border: 5px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgb(99 102 241);
    color: rgb(17 24 39 / var(--tw-text-opacity));
}